@model WordDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WordDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Word" class="control-label"></label>
                <input asp-for="Word" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Translation" class="control-label"></label>
                <input asp-for="Translation" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Properties" class="control-label"></label>
                <input asp-for="Properties" class="form-control" />
                <span asp-validation-for="Properties" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExampleSentence" class="control-label"></label>
                <input asp-for="ExampleSentence" class="form-control" />
                <span asp-validation-for="ExampleSentence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Explanation" class="control-label"></label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Variants" class="control-label"></label>
                <input asp-for="Variants" class="form-control" />
                <span asp-validation-for="Variants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
